force-app/main/default/flows/Accounts_Handover_Update_Account_Demand_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Alert_to_New_Demand_Owner</name>
        <label>Send Email Alert to New Demand Owner</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>Account_Handover__c.Send_New_Account_Handover_Notifcation</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Demand_Account_Owner</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <description>Updates demand owner on the account when a new accounts handover is created. Sends email alert to new demand owner</description>
    <interviewLabel>Accounts Handover: Update Account Demand Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Accounts Handover: Update Account Demand Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Demand_Account_Owner</name>
        <label>Update Demand Account Owner</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Send_Email_Alert_to_New_Demand_Owner</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Internal_Account_Manager_Demand__c</field>
            <value>
                <elementReference>$Record.New_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle_Metadata</targetReference>
        </connector>
        <object>Account_Handover__c</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
