force-app/main/default/flows/AdOps_Case_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Campaign_Media_Buy_Type_Change_Chatter_Post</name>
        <label>Campaign Media Buy Type Change Chatter Post</label>
        <locationX>842</locationX>
        <locationY>1679</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>CampaignMediaBuyTypeChangeChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Chatter_Ready_to_Push_Action</name>
        <label>Chatter - Ready to Push</label>
        <locationX>1634</locationX>
        <locationY>1679</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Chatter_Ready_to_Push</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Rate_Increase_Notification</name>
        <label>Copy 1 of Copy 1 of Rate Increase Notification</label>
        <locationX>2954</locationX>
        <locationY>1271</locationY>
        <actionName>Campaign.Rate_Increase_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Rate_Increase_Notification</name>
        <label>Copy 1 of Rate Increase Notification</label>
        <locationX>2690</locationX>
        <locationY>1163</locationY>
        <actionName>Campaign.Rate_Increase_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Rate_Decrease_Case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Rate_Increase_Notification</name>
        <label>Copy 2 of Rate Increase Notification</label>
        <locationX>2162</locationX>
        <locationY>1271</locationY>
        <actionName>Campaign.Rate_Increase_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Interstitial_Case_Email</name>
        <label>Interstitial Case</label>
        <locationX>2118</locationX>
        <locationY>755</locationY>
        <actionName>Campaign.Interstitial_Case</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>What_field_changed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Demand_Owner</name>
        <label>Notify Demand Owner</label>
        <locationX>1898</locationX>
        <locationY>1787</locationY>
        <actionName>Campaign.Live_Campaign_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Post_Live_Notice_to_Chatter</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Media_Special_Invoicing_Changed</name>
        <label>Notify Media Special Invoicing Changed</label>
        <locationX>1370</locationX>
        <locationY>1163</locationY>
        <actionName>Campaign.Notify_Special_Invoicing_Notes_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Media_Start_Date_Has_Changed</name>
        <label>Notify Media Start Date Has Changed</label>
        <locationX>1106</locationX>
        <locationY>1163</locationY>
        <actionName>Campaign.Notify_Start_Date_Has_Changed</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>Sent when a campaign moves to pause pending</description>
        <name>Pause_Initiated_Email</name>
        <label>Pause Initiated Email</label>
        <locationX>2162</locationX>
        <locationY>1679</locationY>
        <actionName>Campaign.Pause_Initiated</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Pause_Notification</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Pause_Notification</name>
        <label>Pause Notification</label>
        <locationX>2162</locationX>
        <locationY>1787</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>PauseChatterNotification</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_Update_Campaig_Relaunch</name>
        <label>Post Chatter Update Campaign Relaunch</label>
        <locationX>1414</locationX>
        <locationY>863</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>What_field_changed</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Campaign Relaunched </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Chatter_Update_Copy_Check</name>
        <label>Post Chatter Update Copy Check</label>
        <locationX>1150</locationX>
        <locationY>755</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Copy Check Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Post_Live_Notice_to_Chatter</name>
        <label>Post Live Notice to Chatter</label>
        <locationX>1898</locationX>
        <locationY>1895</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Campaign_Is_Live_Chatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rate_Increase_Notification</name>
        <label>Rate Increase Notification</label>
        <locationX>2426</locationX>
        <locationY>1163</locationY>
        <actionName>Campaign.Rate_Increase_Notification</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Direct_Rate_Increase_Case</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Media_Notification</name>
        <label>Send Media Notification</label>
        <locationX>1854</locationX>
        <locationY>647</locationY>
        <actionName>Campaign.Live_Campaign_Notification_Media</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>What_field_changed</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Create_Media_Cases</name>
        <label>Create Media Cases</label>
        <locationX>1634</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Budget_Increase</name>
            <conditionLogic>1 AND 18 AND (2 OR 3 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Conversions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Budget_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Conversions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Conversions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Daily__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily_Installs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Daily_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Installs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Installs__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Budget_Increase_Case</targetReference>
            </connector>
            <label>Budget Increase</label>
        </rules>
        <rules>
            <name>Budget_Decrease</name>
            <conditionLogic>1 AND 18 AND (2 OR 3 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Amount__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Conversions__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Amount__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Budget_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Conversions__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Conversions__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Daily__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily_Installs__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Daily_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Installs__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Weekly_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Monthly__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Installs__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Monthly_Installs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Daily_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Weekly_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Monthly_Installs__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Budget_Decrease_Case</targetReference>
            </connector>
            <label>Budget Decrease</label>
        </rules>
        <rules>
            <name>Campaign_Media_Buy_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Campaign_Media_Buy_Type_Change_Case</targetReference>
            </connector>
            <label>Campaign Media Buy Type</label>
        </rules>
        <rules>
            <name>Budget_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Budget_Group__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Group_Change_Case</targetReference>
            </connector>
            <label>Budget Group</label>
        </rules>
        <rules>
            <name>Geo_Change</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Countries__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Excluded_Countries__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.States__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Geo_Change_Case</targetReference>
            </connector>
            <label>Geo Change</label>
        </rules>
        <rules>
            <name>Ready_to_Push</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Push</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ready_To_Push_Case</targetReference>
            </connector>
            <label>Ready to Push</label>
        </rules>
        <rules>
            <name>Live</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Live__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Cases</targetReference>
            </connector>
            <label>Live</label>
        </rules>
        <rules>
            <name>Pause_Pending</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pause_Immediately__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_Pause_Date_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Pause_Case</targetReference>
            </connector>
            <label>Pause Pending</label>
        </rules>
        <rules>
            <name>Paused</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Campaign_Live_back_to_false</targetReference>
            </connector>
            <label>Paused</label>
        </rules>
        <rules>
            <name>Aborted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_all_related_cases</targetReference>
            </connector>
            <label>Aborted</label>
        </rules>
    </decisions>
    <decisions>
        <description>Run flow only if automation toggle is on</description>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>2514</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_was_the_status_changed_to</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_field_changed</name>
        <label>What field changed?</label>
        <locationX>1634</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Create_Media_Cases</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Tracking_URL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tracking_URL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tracking_URL_Change_Case</targetReference>
            </connector>
            <label>Tracking URL</label>
        </rules>
        <rules>
            <name>Attribution_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Attribution_Tracking_Platform__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Attribution_Platform_Change_Case</targetReference>
            </connector>
            <label>Attribution Platform</label>
        </rules>
        <rules>
            <name>CPA_Platform</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CPA_Platform__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CPA_Platform_Change_Case</targetReference>
            </connector>
            <label>CPA Platform</label>
        </rules>
        <rules>
            <name>Billing_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Billing_Type_Change_Case</targetReference>
            </connector>
            <label>Billing Type</label>
        </rules>
        <rules>
            <name>Start_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Build In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Copy Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Media_Start_Date_Has_Changed</targetReference>
            </connector>
            <label>Start Date</label>
        </rules>
        <rules>
            <name>Special_Invoicing_Needs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Special_Invoicing_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Special_Invoicing_Notes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Media_Special_Invoicing_Changed</targetReference>
            </connector>
            <label>Special Invoicing Needs</label>
        </rules>
        <rules>
            <name>End_Date_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>End_Date_Change_Case</targetReference>
            </connector>
            <label>End Date Change</label>
        </rules>
        <rules>
            <name>KPI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.KPI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_KPI_Change_Case</targetReference>
            </connector>
            <label>KPI</label>
        </rules>
        <rules>
            <name>Indirect_Rate_Increase_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Demand_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Amanda_Stocker</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>engineers@adactioninteractive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Indirect_Rate_Increase_Case</targetReference>
            </connector>
            <label>Indirect Rate Increase 1</label>
        </rules>
        <rules>
            <name>Direct_Rate_Increase_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Demand_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Amanda_Stocker</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>engineers@adactioninteractive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_Increase_Notification</targetReference>
            </connector>
            <label>Direct Rate Increase 1</label>
        </rules>
        <rules>
            <name>Rate_Decrease_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>engineers@adactioninteractive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Rate_Increase_Notification</targetReference>
            </connector>
            <label>Rate Decrease 1</label>
        </rules>
        <rules>
            <name>Rate_Decrease_Stacks_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_per_Conversion__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>engineers@adactioninteractive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rate_Decrease_Stacks_case</targetReference>
            </connector>
            <label>Rate Decrease Stacks 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_was_the_status_changed_to</name>
        <label>What was the status changed to?</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>What_field_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Build_in_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Build In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HO_Offer_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HO_Offer_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_In_Progress_Case</targetReference>
            </connector>
            <label>Build in Progress</label>
        </rules>
        <rules>
            <name>Copy_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Copy Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Just remove this condition to start copy check cases again</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_Check_Case</targetReference>
            </connector>
            <label>Copy Check</label>
        </rules>
        <rules>
            <name>Campaign_Relaunch</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pause Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paused</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Build In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Relaunch_Case</targetReference>
            </connector>
            <label>Campaign Relaunch</label>
        </rules>
        <rules>
            <name>Field_Change</name>
            <conditionLogic>1 AND 2 AND 3 AND 11 AND (4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 12 OR 13 OR 14 OR 15 OR 16)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sales Setup</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Aborted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tracking_URL__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Singular_Cost__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CPA_Platform__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Attribution_Tracking_Platform__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Countries__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Excluded_Countries__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedBy.Username</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>engineers@adactioninteractive.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StartDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Special_Invoicing_Notes__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.KPI__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.New_Rate_Adjustment_1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_field_changed</targetReference>
            </connector>
            <label>Field Change</label>
        </rules>
        <rules>
            <name>Live_Media_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Media_Owner__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Lexie_Jordan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Media_Notification</targetReference>
            </connector>
            <label>Live - Media Notification</label>
        </rules>
        <rules>
            <name>Inter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Keyword</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Build In Progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interstitial_Case</targetReference>
            </connector>
            <label>Interstitial Case</label>
        </rules>
    </decisions>
    <description>Updated to allow relaunches and field updates to happen in the same save</description>
    <interviewLabel>AdOps Case Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: AdOps Case Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Attribution_Platform_Change_Case</name>
        <label>Attribution Platform Change Case</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Attribution Platform Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Attribution Platform Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Billing_Type_Change_Case</name>
        <label>Billing Type Change Case</label>
        <locationX>842</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Billing Type Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Billing Type Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Budget_Group_Change_Case</name>
        <label>Budget Group Change Case</label>
        <locationX>1106</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Budget Group Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Budget Group Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Build_In_Progress_Case</name>
        <label>Build In Progress Case</label>
        <locationX>886</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Case_Opened_2__c</field>
            <value>
                <dateValue>2022-04-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>New Campaign Build Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Build in TUNE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New/Activating Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Campaign_Relaunch_Case</name>
        <label>Campaign Relaunch Case</label>
        <locationX>1414</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Clean_Pause_Info_and_Launch_Fields</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>New Campaign Build Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Campaign Relaunch </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New/Activating Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Copy_Check_Case</name>
        <label>Copy Check Case</label>
        <locationX>1150</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Post_Chatter_Update_Copy_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Time_Case_Opened_2__c</field>
            <value>
                <dateValue>2022-04-01</dateValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Copy Check</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Copy Check Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New/Activating Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>CPA_Platform_Change_Case</name>
        <label>CPA Platform Change Case</label>
        <locationX>578</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>CPA Platform Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>CPA Platform Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Decrease_Case</name>
        <label>Create Budget Decrease Case</label>
        <locationX>578</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Conversions__c</field>
            <value>
                <elementReference>$Record.Daily_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily__c</field>
            <value>
                <elementReference>$Record.Daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Conversions__c</field>
            <value>
                <elementReference>$Record.Monthly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly__c</field>
            <value>
                <elementReference>$Record.Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.Price_per_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Budget/Cap Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Budget Decrease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Budget__c</field>
            <value>
                <elementReference>$Record.Budget_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Conversions__c</field>
            <value>
                <elementReference>$Record.Total_Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Conversions__c</field>
            <value>
                <elementReference>$Record.Weekly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly__c</field>
            <value>
                <elementReference>$Record.Weekly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Budget_Increase_Case</name>
        <label>Create Budget Increase Case</label>
        <locationX>314</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Conversions__c</field>
            <value>
                <elementReference>$Record.Daily_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily__c</field>
            <value>
                <elementReference>$Record.Daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Conversions__c</field>
            <value>
                <elementReference>$Record.Monthly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly__c</field>
            <value>
                <elementReference>$Record.Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.Price_per_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Budget/Cap Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Budget Increase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Budget__c</field>
            <value>
                <elementReference>$Record.Budget_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Conversions__c</field>
            <value>
                <elementReference>$Record.Total_Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Conversions__c</field>
            <value>
                <elementReference>$Record.Weekly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly__c</field>
            <value>
                <elementReference>$Record.Weekly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Media_Buy_Type_Change_Case</name>
        <label>Create Campaign Media Buy Type Change Case</label>
        <locationX>842</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Campaign_Media_Buy_Type_Change_Chatter_Post</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Campaign Media Buy Type Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Campaign Media Buy Type Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <description>Creates a case for the media team to alert of a change in KPI</description>
        <name>Create_KPI_Change_Case</name>
        <label>Create KPI Change Case</label>
        <locationX>1898</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incent_NonIncent__c</field>
            <value>
                <elementReference>$Record.Incent_Non_Incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>KPI Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>KPI Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Pause_Case</name>
        <label>Create Pause Case</label>
        <locationX>2162</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Pause_Initiated_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Campaign Pause Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pause Campaign Request </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Direct_Rate_Increase_Case</name>
        <label>Direct Rate Increase Case</label>
        <locationX>2426</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Rate Increase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rate Increase </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>End_Date_Change_Case</name>
        <label>End Date Change Case</label>
        <locationX>1634</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date__c</field>
            <value>
                <elementReference>$Record.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_And_Media_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Update a Live Campaign</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>End Date Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Geo_Change_Case</name>
        <label>Geo Change Case</label>
        <locationX>1370</locationX>
        <locationY>1571</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Conversions__c</field>
            <value>
                <elementReference>$Record.Monthly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly__c</field>
            <value>
                <elementReference>$Record.Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_And_Media_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Geo Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Geos Have Been Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Indirect_Rate_Increase_Case</name>
        <label>Indirect Rate Increase Case</label>
        <locationX>2162</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_2_of_Rate_Increase_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Rate Increase</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Indirect Rate Increase Case</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Interstitial_Case</name>
        <label>Interstitial Case</label>
        <locationX>2118</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Interstitial_Case_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Interstitial</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Interstitial Needed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New/Activating Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Rate_Decrease_Case</name>
        <label>Rate Decrease Case</label>
        <locationX>2690</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incent_NonIncent__c</field>
            <value>
                <elementReference>$Record.Incent_Non_Incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_And_Media_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Rate Decrease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rate Decrease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Rate_Decrease_Stacks_case</name>
        <label>Rate Decrease - Stacks</label>
        <locationX>2954</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Rate_Increase_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incent_NonIncent__c</field>
            <value>
                <elementReference>$Record.Incent_Non_Incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.New_Rate_Adjustment_1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_And_Media_case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Rate Decrease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Rate Decrease</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Ready_To_Push_Case</name>
        <label>Ready To Push Case</label>
        <locationX>1634</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Chatter_Ready_to_Push_Action</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Arbitrage_Campaign__c</field>
            <value>
                <elementReference>$Record.Arbitrage_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign_Media_Buy_Type__c</field>
            <value>
                <elementReference>$Record.Campaign_Media_Buy_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily_Conversions__c</field>
            <value>
                <elementReference>$Record.Daily_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Daily__c</field>
            <value>
                <elementReference>$Record.Daily__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Demand_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_ID__c</field>
            <value>
                <elementReference>$Record.HO_Offer_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HO_Offer_Name__c</field>
            <value>
                <elementReference>$Record.HO_Offer_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Account_Owner__c</field>
            <value>
                <elementReference>$Record.Media_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Conversions__c</field>
            <value>
                <elementReference>$Record.Monthly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly__c</field>
            <value>
                <elementReference>$Record.Monthly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OG_ID__c</field>
            <value>
                <elementReference>$Record.OG_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_per_Conversion__c</field>
            <value>
                <elementReference>$Record.Price_per_Conversion__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_Media_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>$Record.StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Ready to Push</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Ready To Push</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Budget__c</field>
            <value>
                <elementReference>$Record.Budget_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Conversions__c</field>
            <value>
                <elementReference>$Record.Total_Conversions__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New/Activating Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly_Conversions__c</field>
            <value>
                <elementReference>$Record.Weekly_Installs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Weekly__c</field>
            <value>
                <elementReference>$Record.Weekly__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Tracking_URL_Change_Case</name>
        <label>Tracking URL Change Case</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <connector>
            <targetReference>Create_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account_Name__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Auto_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Campaign__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>$Record.Priority__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority_AdOps__c</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.Record_Type_ID_AdOps_Case</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New Request</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Tracking URL Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Tracking URL Change</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Editing Live Campaigns</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Group__c</field>
            <value>
                <stringValue>AdOps</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>2514</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clean_Pause_Info_and_Launch_Fields</name>
        <label>Clean Pause Info and Launch Fields</label>
        <locationX>1414</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Post_Chatter_Update_Campaig_Relaunch</targetReference>
        </connector>
        <inputAssignments>
            <field>AdGem_Conversion_Cap__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>AdOps_Tested_pick__c</field>
            <value>
                <stringValue>Not Tested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Adgem_Daily_Revenue_Cap__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Copy_Checked__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Media_Pause_Date_Time__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OG_Click_Cap__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>OG_Conversion_Cap__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Campaign__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Effective__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Pause_Immediately__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Campaign_Pause__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Close_all_related_cases</name>
        <label>Close all related cases</label>
        <locationX>2690</locationX>
        <locationY>1571</locationY>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>Pause_Media_Cases</name>
        <label>Pause Media Cases</label>
        <locationX>2426</locationX>
        <locationY>1679</locationY>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Cases__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Campaign_Live_back_to_false</name>
        <label>Set Campaign Live back to false</label>
        <locationX>2426</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Pause_Media_Cases</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Live__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Turn_Campaign_Flag_to_Live</name>
        <label>Turn Campaign Flag to Live</label>
        <locationX>1898</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Notify_Demand_Owner</targetReference>
        </connector>
        <inputAssignments>
            <field>Campaign_Live__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Cases</name>
        <label>Update Related Cases</label>
        <locationX>1898</locationX>
        <locationY>1571</locationY>
        <connector>
            <targetReference>Turn_Campaign_Flag_to_Live</targetReference>
        </connector>
        <filters>
            <field>Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AdOps Update</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Media Team</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Chargeback - Demand</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Chargeback - Media</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>2388</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle_Metadata</targetReference>
        </connector>
        <object>Campaign</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Campaign_Is_Live_Chatter</name>
        <text>{!$Record.HO_Offer_ID__c} {!$Record.HO_Offer_Name__c} is live!</text>
    </textTemplates>
    <textTemplates>
        <name>CampaignMediaBuyTypeChangeChatterPost</name>
        <text>The campaign media buy type was changed from {!$Record__Prior.Campaign_Media_Buy_Type__c} to {!$Record.Campaign_Media_Buy_Type__c}</text>
    </textTemplates>
    <textTemplates>
        <name>Chatter_Ready_to_Push</name>
        <text>Hey, @[{!$Record.Media_Owner__r.Id}] {!$Record.Name} is ready to push live! Just FYI @[{!$Record.Demand_Owner__r.Id}]</text>
    </textTemplates>
    <textTemplates>
        <name>PauseChatterNotification</name>
        <text>Case sent to @[{!$Record.Media_Owner__r.Id}] to fill in the Media Pause Date/Time or check the Pause Immediately field.</text>
    </textTemplates>
</Flow>
