force-app/main/default/flows/Assign_New_Cases_to_Media_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_of_case</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_case</name>
        <label>What Type of Case?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>StacksChargeback</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RecordTypeID_Case_Chargeback</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Sam_Leon</targetReference>
            </connector>
            <label>Stacks Chargeback</label>
        </rules>
        <rules>
            <name>Stacks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign__r.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_to_Sam_Leon</targetReference>
            </connector>
            <label>Stacks</label>
        </rules>
        <rules>
            <name>Chargebacks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RecordTypeID_Case_Chargeback</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Small Amount - No approval needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Chargebacks_to_Media_Owner</targetReference>
            </connector>
            <label>Chargebacks</label>
        </rules>
        <rules>
            <name>Chargebacks_Small_Amount_No_Approval_Needed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RecordTypeID_Case_Chargeback</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Small Amount - No approval needed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Created_by_User</targetReference>
            </connector>
            <label>Chargebacks, Small Amount - No Approval Needed</label>
        </rules>
        <rules>
            <name>Assign_Media_Work_group_cases_to_Media_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Media Team</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cosmic Rate Increase Case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cosmic Rate Decrease Case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Media_Owner</targetReference>
            </connector>
            <label>Assign Media Work group cases to Media Owner</label>
        </rules>
        <rules>
            <name>AdOps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Work_Group__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AdOps</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Record_Type_ID_AdOps_And_Media_case</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_AdOps_Universal_Queue</targetReference>
            </connector>
            <label>AdOps</label>
        </rules>
    </decisions>
    <interviewLabel>Assign New Cases to Media Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CASE: Assign New Cases to Media Owner</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle</name>
        <label>Get Automation Toggle</label>
        <locationX>1370</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Chargebacks_to_Media_Owner</name>
        <label>Assign Chargebacks to Media Owner</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_to_Sam_Leon</name>
        <label>Update to Chris Thompson</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Media_Owner</name>
        <label>Update Media Owner</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_AdOps_Universal_Queue</name>
        <label>Update to AdOps Universal Queue</label>
        <locationX>1370</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Created_by_User</name>
        <label>Update to Created by User</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Sam_Leon</name>
        <label>Update to Sam Leon</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Label.QUEUE_ID_AdOps_Universal_Case_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1244</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle</targetReference>
        </connector>
        <object>Case</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
