force-app/main/default/flows/Campaign_Before_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Operating_System</name>
        <label>Operating System</label>
        <locationX>2294</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Values_Update</targetReference>
            </connector>
            <label>All Values</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_iOS_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Traffic_Accepted_iOS_Desktop_Update</targetReference>
            </connector>
            <label>All Traffic Accepted, iOS, Desktop</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_iOS_Android</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Traffic_Accepted_iOS_Android_Update</targetReference>
            </connector>
            <label>All Traffic Accepted, iOS, Android</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_Android_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Traffic_Accepted_Android_Desktop_Update</targetReference>
            </connector>
            <label>All Traffic Accepted, Android, Desktop</label>
        </rules>
        <rules>
            <name>iOS_Android_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iOS_Android_Desktop_Update</targetReference>
            </connector>
            <label>iOS, Android &amp; Desktop</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>All_Traffic_Update</targetReference>
            </connector>
            <label>All Traffic Accepted</label>
        </rules>
        <rules>
            <name>iOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iOS_Update</targetReference>
            </connector>
            <label>iOS</label>
        </rules>
        <rules>
            <name>Android</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Android_Update</targetReference>
            </connector>
            <label>Android</label>
        </rules>
        <rules>
            <name>Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Desktop_Update</targetReference>
            </connector>
            <label>Desktop</label>
        </rules>
        <rules>
            <name>iOS_Android</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iOS_Android_Update</targetReference>
            </connector>
            <label>iOS &amp; Android</label>
        </rules>
        <rules>
            <name>iOS_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>iOS_Desktop_Update</targetReference>
            </connector>
            <label>iOS &amp; Desktop</label>
        </rules>
        <rules>
            <name>Android_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Android_Desktop_Update</targetReference>
            </connector>
            <label>Android &amp; Desktop</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_iOS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>iOS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATA_iOS_Update</targetReference>
            </connector>
            <label>All Traffic Accepted &amp; iOS</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_Android</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Android</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATA_Android_Update</targetReference>
            </connector>
            <label>All Traffic Accepted &amp; Android</label>
        </rules>
        <rules>
            <name>All_Traffic_Accepted_Desktop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>All Traffic Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Desktop</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ATA_Desktop</targetReference>
            </connector>
            <label>All Traffic Accepted &amp; Desktop</label>
        </rules>
        <rules>
            <name>Operating_System_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Operating_System__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Device_Update_to_Blank</targetReference>
            </connector>
            <label>Operating System NULL</label>
        </rules>
        <rules>
            <name>Slow_Roll_Update</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready to Push</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Live</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AdOps_Tested_pick__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Slow Roll</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HO_Conversions__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.HO_Revenue__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AdOps_Tested_Field</targetReference>
            </connector>
            <label>Slow Roll Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>3548</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Operating_System</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <description>6/10/22: Currently manages the OS &gt; Device auto-fill process.</description>
    <formulas>
        <name>ISCHANGED</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED( {!$Record.Operating_System__c} )</expression>
    </formulas>
    <formulas>
        <name>ISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; NOT(ISBLANK ({!$Record.Operating_System__c}))</expression>
    </formulas>
    <interviewLabel>Campaign: Before Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: Operating System Auto-Fill</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>3548</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>All_Traffic_Accepted_Android_Desktop_Update</name>
        <label>ATA, Android, Desktop Update</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>All_Traffic_Accepted_iOS_Android_Update</name>
        <label>ATA, iOS, Android Update</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>All_Traffic_Accepted_iOS_Desktop_Update</name>
        <label>ATA, iOS, Desktop Update</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>All_Traffic_Update</name>
        <label>All Traffic Update</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>All_Values_Update</name>
        <label>All Values Update</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Android_Desktop_Update</name>
        <label>Android &amp; Desktop Update</label>
        <locationX>2954</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAndroidDesktopDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Android_Update</name>
        <label>Android Update</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAndroidDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ATA_Android_Update</name>
        <label>ATA &amp; Android Update</label>
        <locationX>3482</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ATA_Desktop</name>
        <label>ATA &amp; Desktop</label>
        <locationX>3746</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ATA_iOS_Update</name>
        <label>ATA &amp; iOS Update</label>
        <locationX>3218</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varAllTrafficAcceptedDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Desktop_Update</name>
        <label>Desktop Update</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>varDesktopDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Device_Update_to_Blank</name>
        <label>Device Update to Blank</label>
        <locationX>4010</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>iOS_Android_Desktop_Update</name>
        <label>iOS Android Desktop Update</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>variOSAndroidDesktopDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Allowable Device Traffic field</description>
        <name>iOS_Android_Update</name>
        <label>iOS Android Update</label>
        <locationX>2426</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>variOSAndroidDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>iOS_Desktop_Update</name>
        <label>iOS &amp; Desktop Update</label>
        <locationX>2690</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>viOSDesktopDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>iOS_Update</name>
        <label>iOS Update</label>
        <locationX>1634</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Device_Targeting__c</field>
            <value>
                <elementReference>variOSDevices</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AdOps_Tested_Field</name>
        <label>Update AdOps Tested Field</label>
        <locationX>4274</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>AdOps_Tested_pick__c</field>
            <value>
                <stringValue>Successfully Tested</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>3422</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle_Metadata</targetReference>
        </connector>
        <object>Campaign</object>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Stores device values when Operating System = All Traffic Accepted</description>
        <name>varAllTrafficAcceptedDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>All Traffic Accepted</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values when Operating System = Android and Desktop</description>
        <name>varAndroidDesktopDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Android Phone; Android Tablet; Desktop</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values when Operating System = Android</description>
        <name>varAndroidDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Android Phone; Android Tablet</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values when Operating System = Desktop</description>
        <name>varDesktopDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Desktop</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores values for device when Operating System = iOS, Android and Desktop</description>
        <name>variOSAndroidDesktopDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>iPhone; iPad; Android Phone; Android Tablet; Desktop</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values for when Operating System = iOS and Android</description>
        <name>variOSAndroidDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>iPhone; iPad; Android Phone; Android Tablet</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values when Operating System = iOS</description>
        <name>variOSDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>iPhone; iPad</stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores device values when Operating System = iOS and Desktop</description>
        <name>viOSDesktopDevices</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>iPhone; iPad; Desktop</stringValue>
        </value>
    </variables>
</Flow>
