force-app/main/default/flows/Create_Campaigns_from_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_New_Values_to_Account</name>
        <label>Assign New Values to Account</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account_Adv.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_General_Campaign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_New_Values_to_Account</name>
        <label>Copy 1 of Assign New Values to Account</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Account_Adv.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Current Customer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_New_Values_to_Account</name>
        <label>Copy 1 of Copy 1 of Assign New Values to Account</label>
        <locationX>314</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Copy_1_of_Get_Related_Account_Affiliate.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_of_Opportunity</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Account_Decision</name>
        <label>Update Account</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Advertiser_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Advertiser_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Account_Adv</targetReference>
            </connector>
            <label>Advertiser Account</label>
        </rules>
        <rules>
            <name>Affiliate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Affiliate_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Related_Account_Affiliate</targetReference>
            </connector>
            <label>Affiliate</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Opportunity</name>
        <label>What Type of Opportunity?</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Account_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Comparison_Site</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>HSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AlwaysVPN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Comparison_Site_Campaign</targetReference>
            </connector>
            <label>Comparison Site</label>
        </rules>
        <rules>
            <name>General_Campaigns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inventory_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>HSO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Inventory_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>AlwaysVPN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Values_to_Account</targetReference>
            </connector>
            <label>General Campaigns</label>
        </rules>
    </decisions>
    <description>Creates campaign shells from the information in opportunities once the opps are closed won.</description>
    <interviewLabel>Create Campaigns from Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunities: Create Campaigns from Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Comparison_Site_Campaign</name>
        <label>Create Comparison Site Campaign</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Account_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attribution_Tracking_Platform__c</field>
            <value>
                <elementReference>$Record.Attribution_Tracking_Platform__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comparison_Sites_Status__c</field>
            <value>
                <stringValue>Sales Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_from_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incent_Non_Incent__c</field>
            <value>
                <elementReference>$Record.Incent_Non_Incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RecordTypeID_Campaign_ComparisonSites</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Create_General_Campaign</name>
        <label>Create General Campaign</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Account_Decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Name__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Created_from_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gaming_Sub_category__c</field>
            <value>
                <elementReference>$Record.Gaming_Sub_Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incent_Non_Incent__c</field>
            <value>
                <elementReference>$Record.Incent_Non_Incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead_Source__c</field>
            <value>
                <elementReference>$Record.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Label.RecordTypeID_Campaign_MasterCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sales Setup</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>$Record.App_vertical__c</elementReference>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Related_Account_Affiliate</name>
        <label>Get Related Account Affiliate</label>
        <locationX>314</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_New_Values_to_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Automation_Toggle</name>
        <label>Get Automation Toggle</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account_Adv</name>
        <label>Get Related Account Advertiser</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_New_Values_to_Account</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Account</name>
        <label>Copy 1 of Update Account</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <inputReference>Copy_1_of_Get_Related_Account_Affiliate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1271</locationY>
        <inputReference>Get_Related_Account_Adv</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle</targetReference>
        </connector>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125A000001NaxYQAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>New_Campaign_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
