force-app/main/default/flows/ST_Update_Account_and_Related_Opportunities_with_no_Activity_in_45_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Updated_Collection</name>
        <label>Add to Updated Collection</label>
        <locationX>138</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>Updated_Opportunity_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Opportunities</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Changes Opportunity Stage and closed lost reason fields</description>
        <name>Change_Opportunity_Stage</name>
        <label>Change Opportunity Stage</label>
        <locationX>138</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>Loop_Related_Opportunities.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Related_Opportunities.Closed_Lost_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Old Opportunity</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Not_Include_AM_Managed_Accounts</name>
        <label>Do Not Include AM Managed Accounts</label>
        <locationX>611</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_AM_Managed_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Camille_Muscariello</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Jacob_Van_Duyne</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Ryan_Goerke</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Stacey_Griffin</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Mason_Harrison</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Sarah_Greenlee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Automation_Toggle_Metadata</targetReference>
            </connector>
            <label>Not AM Managed Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>380</locationX>
        <locationY>516</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Campaigns</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_there_Activity_in_the_last_45_days</name>
        <label>Was there Activity in the last 45 days?</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No_Activity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Activity_Plus_45_Days__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.RecordTypeID_Account_Affiliate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Campaigns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Campaigns.Campaign_Live__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Opportunities</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <description>Updates any account that has no activity in the last 45 days to a status of open and removed internal demand owner, also changes all related opportunities to Closed Lost</description>
    <interviewLabel>ST: Update Account and Related Opportunities with no Activity in 45 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ST: Update Account and Related Opportunities with no Activity in 45 days</label>
    <loops>
        <name>Loop_Related_Opportunities</name>
        <label>Loop Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>996</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Change_Opportunity_Stage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>380</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Campaigns</name>
        <label>Get Related Campaigns</label>
        <locationX>182</locationX>
        <locationY>636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Was_there_Activity_in_the_last_45_days</targetReference>
        </connector>
        <filters>
            <field>Account_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Live__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Opportunities</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunities</name>
        <label>Update Opportunities</label>
        <locationX>50</locationX>
        <locationY>1452</locationY>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
        <inputReference>Updated_Opportunity_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates internal demand owner and status fields</description>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>50</locationX>
        <locationY>1572</locationY>
        <inputAssignments>
            <field>Internal_Account_Manager_Demand__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Do_Not_Include_AM_Managed_Accounts</targetReference>
        </connector>
        <object>Account</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-09-23</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Adds Updated values to collection</description>
        <name>Updated_Opportunity_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
