force-app/main/default/flows/Stacks_Opportunity_stage_has_changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Stacks_Opp_Stage_has_changed</name>
        <label>Stacks Opp Stage has changed</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>Opportunity.Stacks_Opportunity_Stage_has_Changed</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <description>Determines if kill switch is on or off. If turned off, Flow will not continue.</description>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stacks_Opp_Stage_has_changed</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <description>7/27/22: Updated with kill switch.</description>
    <interviewLabel>Stacks Opportunity stage has changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Stacks Opportunity stage has changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves custom metadata for kill switch</description>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle_Metadata</targetReference>
        </connector>
        <filters>
            <field>Inventory_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Stacks</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Committed</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
