force-app/main/default/flows/Update_Accts_without_Media_Owner_to_Livvie.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>776</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle_Metadata.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Media_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Media_Owner</name>
        <label>Update Media Owner</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Media_Owner_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Media_Account_Owner_incent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_to_Livvie</targetReference>
            </connector>
            <label>Update Media Owner</label>
        </rules>
        <rules>
            <name>Update_SaleOps_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SalesOps_Owner</targetReference>
            </connector>
            <label>Update SaleOps Owner</label>
        </rules>
    </decisions>
    <decisions>
        <description>Updates SalesOps Owner for the purpose of the invoicing app autoamtions</description>
        <name>Update_SalesOps_Owner</name>
        <label>Update SalesOps Owner</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Null_Demand_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BC_Accounts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Danica_Deaton</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Jason_Spohn</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Brian_Fox</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Konrad_Zielonka</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Corbin_Polson</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Devantae_Masaun</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Wayne_Bickerton</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Conor_Moloney</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Internal_Account_Manager_Demand__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.User_ID_Bitsy_P</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_BC_Accounts</targetReference>
            </connector>
            <label>BC Accounts</label>
        </rules>
    </decisions>
    <description>Updates media owner to a default when it is null.

Updates SalesOps Owner to the proper person based on sales assignments. This was created for the invoicing email  automation.</description>
    <interviewLabel>Update Accts without Media Owner to Livvie {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account: Update Media and SalesOps</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle_Metadata</name>
        <label>Get Automation Toggle Metadata</label>
        <locationX>776</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_to_Livvie</name>
        <label>Copy 1 of Update to Livvie</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Media_Account_Owner_incent__c</field>
            <value>
                <elementReference>$Label.User_ID_Lexie_Jordan</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Null_Demand_Owner</name>
        <label>Null Demand Owner</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>SalesOps_Owner__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_BC_Accounts</name>
        <label>Update BC Accounts</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>SalesOps_Owner__c</field>
            <value>
                <stringValue>bcourtney@Adaction.com</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle_Metadata</targetReference>
        </connector>
        <filters>
            <field>Media_Account_Owner_incent__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Internal_Account_Manager_Demand__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
