force-app/main/default/flows/Update_Campaign_Media_Owner.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>Demand_Owner_Null_decision</name>
        <label>Demand Owner Null</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Is_campaign_a_clone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Demand_Owner__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Created_from_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Demand_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_campaign_a_clone</name>
        <label>Is the Adjust campaign a clone?</label>
        <locationX>578</locationX>
        <locationY>1103</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_adjust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Is_Clone__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clear_Adjust_App_token</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Flow</name>
        <label>Run Flow?</label>
        <locationX>974</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Automation_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Automation_Toggle.Flows__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_Type_of_Campaign</targetReference>
            </connector>
            <label>Automation On</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_Type_of_Campaign</name>
        <label>What Type of Campaign?</label>
        <locationX>578</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Update_Campaigns_Media_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>All Others</defaultConnectorLabel>
        <rules>
            <name>Stacks_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stacks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Media_Owner_to_Chris</targetReference>
            </connector>
            <label>Stacks Campaign</label>
        </rules>
        <rules>
            <name>Cosmic_Campaign</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Media_Buy_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cosmic Rewards</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Media_Owner_to_Mariah</targetReference>
            </connector>
            <label>Cosmic Campaign</label>
        </rules>
        <rules>
            <name>Direct</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Indirect_Direct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Direct</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Media_Account_Owner_incent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Direct_Campaigns</targetReference>
            </connector>
            <label>Direct</label>
        </rules>
        <rules>
            <name>Indirect</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Indirect_Direct__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Indirect</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account_Name__r.Media_Account_Owner_incent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Update_Campaigns_Media_Owner</targetReference>
            </connector>
            <label>Indirect</label>
        </rules>
    </decisions>
    <description>Updates Campaign Media Owner field based on related account record Media Owner (Incent) field</description>
    <interviewLabel>Update Campaign Media Owner {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Campaign: Update Campaign Owners</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Automation_Toggle</name>
        <label>Get Automation Toggle</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Run_Flow</targetReference>
        </connector>
        <filters>
            <field>Flows__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Automation_Toggle__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Clear_Adjust_App_token</name>
        <label>Clear Adjust App token</label>
        <locationX>446</locationX>
        <locationY>1211</locationY>
        <inputAssignments>
            <field>MMP_Advertiser_ID__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Demand_Owner</name>
        <label>Copy 1 of Update Demand Owner</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Is_campaign_a_clone</targetReference>
        </connector>
        <inputAssignments>
            <field>Demand_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Internal_Account_Manager_Demand__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_Media_Owner_to_Mariah</name>
        <label>Update Media Owner to Mariah</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Demand_Owner_Null_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Media_Owner__c</field>
            <value>
                <elementReference>$Label.User_ID_Mariah_Chee</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Campaign Media Owner to match Media Owner (Incent) on it&apos;s related account</description>
        <name>Copy_2_of_Update_Campaigns_Media_Owner</name>
        <label>Copy 2 of Update Campaigns Media Owner</label>
        <locationX>842</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Demand_Owner_Null_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Media_Owner__c</field>
            <value>
                <elementReference>$Label.User_ID_Matt_Musso</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Direct_Campaigns</name>
        <label>Direct Campaigns</label>
        <locationX>578</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Demand_Owner_Null_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Media_Owner__c</field>
            <value>
                <elementReference>$Label.User_ID_Lexie_Jordan</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Campaign Media Owner to match Media Owner (Incent) on it&apos;s related account</description>
        <name>Update_Campaigns_Media_Owner</name>
        <label>Update Campaigns Media Owner</label>
        <locationX>1106</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Demand_Owner_Null_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Media_Owner__c</field>
            <value>
                <elementReference>$Record.Account_Name__r.Media_Account_Owner_incent__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Media_Owner_to_Chris</name>
        <label>Update Media Owner to Chris</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <connector>
            <targetReference>Demand_Owner_Null_decision</targetReference>
        </connector>
        <inputAssignments>
            <field>Media_Owner__c</field>
            <value>
                <elementReference>$Label.User_ID_Chris_Thompson</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Automation_Toggle</targetReference>
        </connector>
        <object>Campaign</object>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
